<html data-theme="dark" class="min-h-screen flex items-center justify-center bg-gray-900">
  <div class="w-full max-w-lg bg-gray-800 p-10 rounded-lg shadow-lg">
    <h1 class="text-center mb-6 text-purple-500 text-4xl font-bold">
      存在しない記憶
    </h1>
    <p class="text-center mb-8 text-gray-200">
      <%= @memory %>
    </p>
    <div class="flex justify-center mb-6">
      <%= link_to '別の記憶を思い出す', root_path, class: "btn btn-primary bg-purple-700 hover:bg-purple-800 text-white font-bold py-3 px-6 rounded-lg transition duration-300" %>
    </div>
    <% share_text = "#{@memory} #存在しない記憶" %>
    <div class="flex justify-center">
      <a href="https://twitter.com/intent/tweet?text=<%= CGI.escape(share_text) %>" target="_blank" class="btn btn-secondary bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg transition duration-300">
        Xでシェアする
      </a>
    </div>
  </div>
</html>
